#contact {
  margin-bottom: 200px; 
}

img {
  padding-bottom: 20px;
}

#menu {
  background: url(../img/43H-1920-blur.jpg) no-repeat center center fixed;
  width: 100%;
}

p {
  color: #000;
  font-weight: 200;
}

h3 {
  font-weight: 300;
}